#bg {
    height: 50%;
    // width: 500px;
    background: var(--ion-color-dark) url('../../../../assets/imgs/leaves.png') no-repeat center center/cover;
    border-radius: 0 0 25% 25%;
    // margin-left: -21vw;
    margin: auto;
    position: relative;
}
ion-fab {
    ion-icon {
        font-size: 2.5rem;
    }
}

ion-list {
    margin-top: 6vh;
    ion-list-header{
        font-weight: 1000;
        font-size: 1.5rem;
    }

    .mylabel{
        color: red;
        font-size: 1em;
        margin-left: 20px;
    }
    ion-item {
        border: 1px solid var(--ion-color-light);
        border-radius: 20px;
        -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
        -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
        box-shadow: 0 6px 4px -4px var(--ion-color-medium);
    }
    p {
        font-size: 0.8rem;
        padding-left: 5vw;
    }
    ion-button{
        --background: #e3a5c5;
    }


}