<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item >
      <!-- <ion-icon  name="reorder-two" ></ion-icon> -->
      <!-- <ion-icon slot="start" name="menu-outline" (click)="openMenu()"></ion-icon> -->
      <ion-button fill="clear" (click)="navCtrl.back()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item >
      <ion-label>Musso kalanso</ion-label>
      <ion-avatar slot="end">
        <img src="assets/imgs/nature love.png" />
      </ion-avatar>
    </ion-item>
  </ion-list>
  <div class="popover">
    <ion-searchbar placeholder="Recherche" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </div>
</ion-header>

<ion-content>

<ion-grid>
  <ion-item>
    <h5>Tous les modules</h5>
  </ion-item>
  <ion-row>
    <ion-col *ngFor="let m of listModule | filter:filterTerm" size="6">
      <ion-card [routerLink]="['/', 'admin', 'tabs', 'items', m.id]">
        <ion-card-header>
          <ion-card-subtitle>{{m.libelle}}</ion-card-subtitle>
          <!-- <ion-card-title>{{m.libelle}}</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <img [src]="m?.photo" />
          <!-- <img [src]="m?.img" /> -->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
