<div class="container-scroller">
  <!-- side-menu -->
  <app-side-menu></app-side-menu>
  <!-- ===================== -->
    <div class="container-fluid page-body-wrapper">
  <!-- ----------------top-bar--------------- -->
  <app-top-bar></app-top-bar>
  <!-- -------------------------------------- -->
      <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
              <h3 class="mb-0"> La liste des Apprenants</h3>
            </div>  
            
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Recherche" />
          </span> 
            <p-table [value]="listLearn">
              <ng-template pTemplate="header">
                  <tr>
                      <!-- <th>N°</th> -->
                      <th>Nom Prenom</th>
                      <th>Adresse</th>
                      <th>Téléphone</th>
                      <th>Action</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-learn>
                  <tr>
                      <!-- <td>1</td> -->
                      <td>{{learn.nom_prenom}}</td>
                      <td>{{learn.adresse}}</td>
                      <td>{{learn.tel}}</td>
                      <td>
                        <button pButton pRipple  icon="pi pi-info" class="p-button-rounded p-button-info" (click)="detailsModule()"></button>
                        <button pButton pRipple  icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
        <!-- ----------footer-------------- -->
  <app-footer></app-footer>
        <!-- ---------footer--------------- -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>