<p-toast></p-toast>
<!-- <p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast> -->
<p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
      </div>
  </ng-template>
</p-toast>

<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Renseignez les champ(s)</h4>
        <form class="form-sample"[formGroup]="fg" (ngSubmit)="saveCtegory()">
          <!-- <p class="card-description">Personal info</p> -->
          <div class="row">
            <div class="col-md-6">
                <!-- <h5>Basic</h5> -->
                <input type="text" name="libelle" formControlName="libelle" pInputText > 
            </div>
            <div class="col-md-6">
                <button pButton pRipple type="submit" label="Primary" class="p-button-raised"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>