<!-- <p-toast></p-toast> -->
<!-- <p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast> -->
<!-- <p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
      </div>
  </ng-template>
</p-toast> -->


<div class="container-scroller">
    <!-- side-menu -->
    <app-side-menu></app-side-menu>
    <!-- ===================== -->
      <div class="container-fluid page-body-wrapper">
    <!-- ----------------top-bar--------------- -->
    <app-top-bar></app-top-bar>
    <!-- -------------------------------------- -->
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Nouveau utilisateur</h4>
                  <form class="form-sample" [formGroup]="formUser" (ngSubmit)="saveUser()">
                    <p class="card-description">Informations personnel</p>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Nom & Prénom</label> -->
                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Nom & Prénom" name="nomPrenom" formControlName="nomPrenom" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Adresse</label> -->
                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Adresse" name="adresse" formControlName="adresse" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Tél</label> -->
                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="E-mail"  name="email" formControlName="email"/>
                          </div>
                        </div>
                      </div>                      
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Nom & Prénom</label> -->
                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Télephone" name="tel" formControlName="tel" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Adresse</label> -->
                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Domaine" name="domaine" formControlName="domaine" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Tél</label> -->
                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Profession" name="profession" formControlName="profession" />
                          </div>
                        </div>
                      </div>                      
                    </div>                    
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Nom & Prénom</label> -->
                          <div class="col-sm-9">
                            <select name="genre" id="" class="form-control" formControlName="genre">
                              <option disabled>Choisir le genre</option>
                              <option value="1">Homme</option>
                              <option value="0">Femme</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Adresse</label> -->
                          <div class="col-sm-9">
                            <select name="statut" id="" class="form-control" formControlName="statut">
                              <option disabled>Choisir le statut</option>
                              <option value="1">Admin</option>
                              <option value="0">Formateur</option>
                            </select>
                          </div>
                        </div>
                      </div>    
                      <div class="col-md-4">
                        <div class="form-group row">
                          <!-- <label class="col-sm-3 col-form-label">Adresse</label> -->
                          <div class="col-sm-9">
                            <textarea class="form-control" name="description" id="" rows="5" placeholder="Bref description" formControlName="description"></textarea>
                          </div>
                        </div>
                      </div>                                           
                    </div>                    
                    <button type="submit" class="btn btn-primary mr-2"> Enregistrer </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- ----------footer-------------- -->
    <app-footer></app-footer>
          <!-- ---------footer--------------- -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>