<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>KEITA</ion-list-header>
          <ion-note>orangekalanso@gmail.com</ion-note>
          <ion-list-header>Menu principal</ion-list-header>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  [routerLink]="['/all-module']" lines="" detail="" >
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label>Modules</ion-label>
            </ion-item>
            <ion-item  routerLink="/admin/formations" lines="" detail="" >
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              <ion-label >Mes formations</ion-label>
            </ion-item>
            <ion-item  [routerLink]="['/newApprenant']" lines="" detail="" >
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              <ion-label>Mes certifications</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Déconnexion</ion-list-header>

          <ion-item >
            <ion-icon slot="start" ios="exit-outline" md="exit-outline"></ion-icon>
            <ion-label (click)="logout()">Se déconnecter</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>