ion-title{
    text-align: center;
}
ion-content {
    ion-grid {
        padding: 0;
        ion-row {
            height: 75vh;
            position: fixed;
            ion-col {
                padding: 0;
                ion-slides {
                    height: 100%;
                    // --bullet-background: var(--ion-color-medium);
                    // --bullet-background-active: var(--ion-color-primary-contrast);
                    // border-radius: none;
                }
                div {
                    ion-button {
                        margin-top: 1vh;
                        ion-icon {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
    ion-item {
        ion-label {
            font-size: 1.4rem;
            font-weight: bold;
        }
        .price {
            align-self: end;
            margin-top: 15px;
            font-size: 1.2rem;
        }
    }
}