<ion-content [fullscreen]="true">
  <ion-list class="ion-margin ion-text-center">
    
    <ion-list-header><ion-label color="light"><img src="assets/imgs/logo-app.jpg" /></ion-label></ion-list-header>
    <ion-button color="e3a5c5" expand="block" shape="round" routerLink="login">
      Continuer
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
    <!-- <ion-button color="white" expand="block" shape="round">Login with Google</ion-button> -->
    <!-- <ion-text color="black"><p>Tous droits reservés.</p></ion-text> -->
  </ion-list>
</ion-content>
