<div class="container-scroller">
  <!-- side-menu -->
  <app-side-menu></app-side-menu>
  <!-- ===================== -->
    <div class="container-fluid page-body-wrapper">
  <!-- ----------------top-bar--------------- -->
  <app-top-bar></app-top-bar>
  <!-- -------------------------------------- -->
      <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
              <h3 class="mb-0"> Liste des modules 
              </h3>
              <div class="d-flex">
                <button type="button" [routerLink]="['../../new/module']" class="btn btn-sm ml-3 btn-rose"> Nouveau module </button>
                
                
                <!-- <p-toast></p-toast> -->
               <!-- <button type="button"  pButton icon="pi pi-info-circle" label="Show"></button> -->

              </div>
            </div>
            <p-table #dt [value]="listModule" dataKey="id" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
            currentPageReportTemplate="montant {first} à {last} des {totalRecords} entrées" [rowsPerPageOptions]="[10,25,50]" 
            [globalFilterFields]="['libelle','categorie']">
            <ng-template pTemplate="caption">
              <div class="flex">
                  <span class="p-input-icon-left ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="filterGlobal($event, 'contains')" placeholder="Recherche" />
                  </span>
              </div>
          </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="libelle">libelle</th>
                      <th>description</th>
                      <th pSortableColumn="categorie">Catégorie</th>
                      <th>Action</th>
                       </tr>
              </ng-template>
              <ng-template pTemplate="body" let-module>
                  <tr>
                      <td>{{module.libelle}}</td>
                      <td>{{module.description}}</td>
                      <td>{{module.categorie.libelle}}</td>
                      <td>
                        <button pButton pRipple type="button" title="Ajouter chapitre" icon="pi pi-plus-circle"
                         class="p-button-rounded btn-rose" (click)="addChapter(module)"
                         ></button>

                         <button pButton pRipple  icon="pi pi-pencil" title="Modifier" class="p-button-rounded p-button-info" routerLink="/update/module"></button>
                        <button pButton pRipple type="button" icon="pi pi-info" title="Détails" class="p-button-rounded p-button-success" [routerLink]="['/detail/module', module.id]"></button>

                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
        <!-- ----------footer-------------- -->
  <app-footer></app-footer>
        <!-- ---------footer--------------- -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>