<div class="container-scroller">
  <!-- side-menu -->
  <app-side-menu></app-side-menu>
  <!-- ===================== -->
    <div class="container-fluid page-body-wrapper">
  <!-- ----------------top-bar--------------- -->
  <app-top-bar></app-top-bar>
  <!-- -------------------------------------- -->
      <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
              <h3 class="mb-0"> Liste des modules 
              </h3>
              <div class="d-flex">
                <button type="button" [routerLink]="['../../new/module']" class="btn btn-sm ml-3 btn-info"> Nouveau module </button>
                
                
                <!-- <p-toast></p-toast> -->
               <!-- <button type="button"  pButton icon="pi pi-info-circle" label="Show"></button> -->

              </div>
            </div>

            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Recherche" />
          </span> 

            <p-table [value]="listModule">
              <ng-template pTemplate="header">
                  <tr>
                      <th>libelle</th>
                      <th>description</th>
                      <th>Catégorie</th>
                      <th>Action</th>
                       </tr>
              </ng-template>
              <ng-template pTemplate="body" let-module>
                  <tr>
                      <td>{{module.libelle}}</td>
                      <td>{{module.description}}</td>
                      <td>{{module.categorie.libelle}}</td>
                      <td>
                        <button pButton pRipple type="button" icon="pi pi-plus-circle"
                         class="p-button-rounded p-button-primary" (click)="addChapter(module)"
                         ></button>
                         <button pButton pRipple  icon="pi pi-pencil" class="p-button-rounded p-button-info"></button>
                        <button pButton pRipple type="button" icon="pi pi-info" class="p-button-rounded p-button-success"></button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
        <!-- ----------footer-------------- -->
  <app-footer></app-footer>
        <!-- ---------footer--------------- -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>