<div class="container-scroller">
  <!-- side-menu -->
  <app-side-menu></app-side-menu>
  <!-- ===================== -->
    <div class="container-fluid page-body-wrapper">
  <!-- ----------------top-bar--------------- -->
  <app-top-bar></app-top-bar>
  <!-- -------------------------------------- -->
      <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
              <h3 class="mb-0"> Liste des modules 
              </h3>
              <div class="d-flex">
                <button type="button" [routerLink]="['../../new/module']" class="btn btn-sm ml-3 btn-success"> Nouveau module </button>
                
                
                <!-- <p-toast></p-toast> -->
               <!-- <button type="button"  pButton icon="pi pi-info-circle" label="Show"></button> -->

              </div>
            </div>
        
            <p-table>
              <ng-template pTemplate="header">
                  <tr>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Quantity</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                  <tr>
                      <td>{{product.code}}</td>
                      <td>{{product.name}}</td>
                      <td>{{product.category}}</td>
                      <td>{{product.quantity}}</td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
        <!-- ----------footer-------------- -->
  <app-footer></app-footer>
        <!-- ---------footer--------------- -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>