<p-toast></p-toast>
<!-- <p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast> -->
<p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
      </div>
  </ng-template>
</p-toast>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                    <h4 class="card-title">Nom & Prénom</h4>
                    <p class="card-description"> {{getLearner?.nom_prenom}}</p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>
                          <p class="font-weight-bold">Adresse</p>
                          <p>{{getLearner?.adresse}}</p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address class="text-primary">
                          <p class="font-weight-bold">E-mail</p>
                          <p class="mb-2">{{getLearner?.email}}</p>
                          <p class="font-weight-bold">Numéro portable</p>
                          <p>{{getLearner?.tel}}</p>
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Inscription</h4>
                    <p class="card-description">mes modules</p>
                  <div class="row">
                    <div class="template-demo" *ngFor="let m of learnerMods">
                      <button class="btn btn-outline-primary btn-fw"> {{m.module.libelle}} </button>           
                    </div>
                  </div>
                    
                  </div>
    </div>
</div>


