<div class="container-scroller">
    <!-- side-menu -->
    <app-side-menu></app-side-menu>
    <!-- ===================== -->
      <div class="container-fluid page-body-wrapper">
    <!-- ----------------top-bar--------------- -->
    <app-top-bar></app-top-bar>
    <!-- -------------------------------------- -->
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="row">
              <div class="col-xl-12 grid-margin stretch-card">
                <div class="card card-calender">
                  <div class="card-body">
                    <div class="row pt-2">
                      <div class="col-sm-6">
                        <h1 class="text-white">{{module?.libelle}}</h1>
                        <h5 class="text-white">Formateur: {{module?.utilisateur.nomPrenom}}</h5>
                        <h5 class="text-white">Profession: {{module?.utilisateur.profession}}</h5>
                      </div>
                      <div class="col-sm-6 text-sm-right pt-3 pt-sm-0">
                        <h3 class="text-white">{{module?.categorie.libelle}}</h3>
                        <!-- <p class="text-white m-0">{{module.}} apprenants</p> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 grid-margin stretch-card" *ngFor="let l of listChapter">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Chapitre: {{l.numChapitre}}</h4>
                            <ul class="list-ticked">
                              <li>Titre: {{l.libelle}}</li>
                              <li>Video: {{l.video}}</li>
                              <li>Document 1: {{l.doc1}}</li>
                              <li>Document 2: {{l.doc2}}</li>
                            </ul>
                            <div class="row">
                              <div class="col-md-6 d-flex align-items-center">
                                <div class="d-flex flex-row align-items-center">
                                  <button pButton pRipple  icon="pi pi-pencil" class="p-button-rounded p-button-info but" routerLink="/update/module"></button>
                                  <button pButton pRipple type="button" icon="pi pi-info" class="p-button-rounded p-button-info" [routerLink]="['/detail/module', module.id]"></button>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ----------footer-------------- -->
    <app-footer></app-footer>
          <!-- ---------footer--------------- -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>