<div class="container-scroller">
    <!-- side-menu -->
    <app-side-menu></app-side-menu>
    <!-- ===================== -->
      <div class="container-fluid page-body-wrapper">
    <!-- ----------------top-bar--------------- -->
    <app-top-bar></app-top-bar>
    <!-- -------------------------------------- -->
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="row">
              <div class="col-xl-12 grid-margin stretch-card">
                <div class="card card-calender">
                  <div class="card-body">
                    <div class="row pt-2">
                      <div class="col-sm-6">
                        <h1 class="text-white">Programation</h1>
                        <h5 class="text-white">Alassane Sanogo</h5>
                        <h5 class="text-white pt-2 m-0">Directeur de Musso kalanso</h5>
                      </div>
                      <div class="col-sm-6 text-sm-right pt-3 pt-sm-0">
                        <h3 class="text-white">Informatique</h3>
                        <p class="text-white m-0">50 apprenants</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Chapitre I</h4>
                            <ul class="list-ticked">
                              <li>Titre:</li>
                              <li>Video:</li>
                              <li>Document1:</li>
                              <li>DocUment2:</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Chapitre II</h4>
                            <ul class="list-ticked">
                              <li>Titre:</li>
                              <li>Video:</li>
                              <li>Document1:</li>
                              <li>DocUment2:</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Chapitre III</h4>
                            <ul class="list-ticked">
                              <li>Titre:</li>
                              <li>Video:</li>
                              <li>Document1:</li>
                              <li>DocUment2:</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ----------footer-------------- -->
    <app-footer></app-footer>
          <!-- ---------footer--------------- -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>