<div class="container-scroller">
    <!-- side-menu -->
    <app-side-menu></app-side-menu>
    <!-- ===================== -->
      <div class="container-fluid page-body-wrapper">
    <!-- ----------------top-bar--------------- -->
    <app-top-bar></app-top-bar>
    <!-- -------------------------------------- -->
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="page-header flex-wrap">
                <h3 class="mb-0">La liste des catégories</h3>
                <div class="d-flex">
                  <button type="button" (click)="show()" class="btn btn-sm ml-3 btn-info"> Nouvelle catégorie </button>

                  <!-- <p-toast></p-toast> -->
                 <!-- <button type="button"  pButton icon="pi pi-info-circle" label="Show"></button> -->

                </div>
              </div>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Recherche" />
            </span> 
          
              <p-table [value]="listCategorie">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Libelle</th>
                        <th>Etat</th>
                        <th>Action</th>
                       
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-categorie>
                    <tr>
                        <td>{{categorie.libelle}}</td>
                        <td *ngIf="categorie.etat==1">publié</td>
                        <td *ngIf="categorie.etat==0">Non publié</td>
                        <td>
                          <button *ngIf="categorie.etat==1" pButton pRipple type="button" icon="pi pi-check-circle" class="p-button-rounded p-button-success"></button>
                          <button *ngIf="categorie.etat==0" pButton pRipple type="button" icon="pi pi-circle" class="p-button-rounded p-button-danger"></button>
                          <button pButton pRipple  icon="pi pi-pencil" (click)="show2()" class="p-button-rounded p-button-info"></button>
                          <button pButton pRipple type="button" (click)="show1(categorie)" icon="pi pi-info-circle" class="p-button-rounded p-button-primary"></button>
                        </td>
                     
                    </tr>
                </ng-template>
            </p-table>
          </div>
          <!-- ----------footer-------------- -->
    <app-footer></app-footer>
          <!-- ---------footer--------------- -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>