<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Description</ion-title>

  </ion-toolbar> -->
  <ion-list>
  <ion-item color="primary" lines="none">
    <!-- <ion-icon  name="reorder-two" ></ion-icon> -->
    <!-- <ion-icon slot="start" name="menu-outline" (click)="openMenu()"></ion-icon> -->
    <ion-text slot="end" (click)="dismissModal()">Fermer</ion-text>
  </ion-item>
  <ion-item color="primary" lines="none">
    <ion-label>Musso kalanso</ion-label>
    <ion-avatar slot="end">
      <img src="assets/imgs/nature love.png" />
    </ion-avatar>
  </ion-item>

</ion-list>
</ion-header>

<ion-content>
  <ion-card>
    <img src="./madison.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
</ion-content>
